*{      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 18, 18);
    color:goldenrod;
    padding: 45px;
    font-family:'kanit', sans-serif;
}

h1 {
    font-size: 50px;
    
}

.headerTags{
    color: rgb(112, 83, 9);
    padding: 10px;
    background-color: black;
    text-align: center;
} 

p {
    padding: 10px;
}

ol {
    padding: 20px;
    display:inline-block;
    align-items: center;
}

a {
    color: goldenrod; /* Color del enlace */
    text-decoration: none; /* Opcional: sin subrayado */
}

a:hover {
    color: green; /* Mantén el color cuando se pasa el mouse */
}

.titulos {
    text-align: center;
    margin: 20px;
}

.tamGrande {
    font-size: 30px;
    font-weight: bold;
}

.alignIzq {
    text-align: left;
}

.legendClass{
    font-weight: bold;
}

.formClass{
    position: relative; /* Cambiado a 'relative' */
    border-radius: 10px;
    width: 100%;
    max-width: 30%;
    box-shadow: 0 0 10px;
    margin: 0 auto; /* Centra el elemento horizontalmente */
    padding:10px;
    text-align: center;
    background-color: black; /* Asegura que tenga un fondo */
    transform: none; /* Eliminado para evitar conflictos */
}

fieldset {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    box-sizing: border-box; /* Incluye padding y border en el ancho */
}